@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Source+Serif+Pro:wght@400;600;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 255, 255, 255;
    --text: 0, 0, 0;
}

body {
    background: rgb(var(--background));
    color: rgb(var(--text));
    min-height: 100vh;
    position: relative;
}